name: Run Test

# develop branch가 push되거나 pull request 하면 테스트 실행
on:
  push:
    branches: [ develop ]
  pull_request:
    branches:
      - develop

jobs:
  docker_test:
    # 운영체제 설정, ubuntu latest보단 서버와 버전을 맞추는 게 좋을듯?
    runs-on: ubuntu-latest

    steps:
      # 해당 브랜치의 코드를 가져온다
      - name: Checkout code
        uses: actions/checkout@v4

      # 고급 빌드를 위한 buildx - 없어도 사용 가능
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # git secret을 환경변수 파일로 복사하기
      - name: Set up environment variables
        run: |
          echo "REQUEST_URL=$REQUEST_URL" >> .env
          echo "SERVER_PORT=$SERVER_PORT" >> .env
          echo "SECRET_KEY=$SECRET_KEY" >> .env
          echo "MAIL_FROM=$MAIL_FROM" >> .env
          echo "MAIL_ID=$MAIL_ID" >> .env
          echo "MAIL_PASSWORD=$MAIL_PASSWORD" >> .env
          echo "MAIL_HOST=$MAIL_HOST" >> .env
          echo "DATASOURCE_USERNAME=$DATASOURCE_USERNAME" >> .env
          echo "DATASOURCE_PASSWORD=$DATASOURCE_PASSWORD" >> .env
          echo "DATASOURCE_URL=$DATASOURCE_URL" >> .env
          echo "REDIS_HOST=$REDIS_HOST" >> .env
          echo "REDIS_PORT=$REDIS_PORT" >> .env

        env:
          REQUEST_URL: ${{ secrets.REQUEST_URL }}
          SERVER_PORT: ${{ secrets.SERVER_PORT }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          MAIL_FROM: ${{ secrets.MAIL_FROM }}
          MAIL_ID: ${{ secrets.MAIL_ID }}
          MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
          MAIL_HOST: ${{ secrets.MAIL_HOST }}
          DATASOURCE_USERNAME: ${{ secrets.DATASOURCE_USERNAME }}
          DATASOURCE_PASSWORD: ${{ secrets.DATASOURCE_PASSWORD }}
          DATASOURCE_URL: ${{ secrets.DATASOURCE_URL }}
          REDIS_HOST: ${{ secrets.REDIS_HOST }}
          REDIS_PORT: ${{ secrets.REDIS_PORT }}

      - name: Display .env file contents
        run: |
          cat .env

      # unittest 실행
      - name: Run tests in Docker container
        working-directory: ${{ github.workspace }}
        run: docker-compose run --rm spring-app ./gradlew clean test